:root {
    --image-profile: url("../img/myProfile.jpg");
    --image-banner: url("../img/header_bg.jpg");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(0, 0, 0, .9);
    margin: 0;
    color: #fff;
}

.logo-profile {
    width: 225px;
    height: 200px;
    background: var(--image-profile);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin: auto;
    border: 5px solid #fff;
}

.logo-header {
    width: 225px;
    height: 200px;
}

.header::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: var(--image-banner);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.header-content {
    position: absolute;
    z-index: 10;
    /* //top: 10%; */
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 350px;
}

.header-title,
.service-title,
.about-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.header-text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}


/* grillas */

.grid-3 {
    display: grid;
    /* grillas se repiten 3 veces */
    grid-template-columns: repeat(3, 1fr);
    /* espaciado de columnas */
    grid-gap: 20px;
}

.grid-2 {
    display: grid;
    /* grillas se repiten 2 veces */
    grid-template-columns: repeat(2, 1fr);
    /* espaciado de columnas */
    grid-gap: 20px;
}


/* texto centrado */

.text-center {
    text-align: center;
    margin: auto;
}


/* fondo blanco */

.bg-light {
    background: #fff;
    color: #333;
}


/* fondo oscuro*/

.bg-dark {
    background: #2f3542;
    color: #fff;
}


/* servicios */

.services {
    padding: 2rem;
}


/* footer */

.footer {
    padding: 2.2rem;
}

.footer p {
    margin: 0;
}


/* DISEÑO RESPONSIVE DE MANERA VERTICAL*/

@media(max-width: 560px) {
    .header::after {
        height: 50vh;
    }
    .header-content {
        top: 5%;
        margin-top: 5px;
    }
    .header-content .logo-header {
        height: 140px;
        width: 140px;
    }
    .header-content .logo-profile {
        height: 140px;
        width: 140px;
    }
    .header-content .header-text {
        display: none;
    }
    /* diseño responsive para las grillas */
    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }
    .services {
        padding: 1rem 1rem;
    }
}


/* DISEÑO RESPONSIVE DE MANERA HORIZONTAL*/

@media(max-height: 500px) {
    .header-content .header-text {
        display: none;
    }
    .header-content {
        top: 0;
    }
}